<div style="width: 100%">
  <p>
    We regret to inform you that your account has been temporarily deactivated
    due to a violation of our company's policy regarding investment and
    identification. You can review our policy
    <a href="<%=data.address%>/legal">here</a>.
  </p>
  <p>
    Please note that while your account is deactivated, you will be unable to
    perform withdrawals. However, other transactions can still be carried out
    normally.
  </p>
  <p>
    Your funds remain intact and secure. Rest assured that once this issue is
    resolved, your account will be reactivated promptly.
  </p>
  <p>
    If you have any questions or wish to address this matter, please contact our
    administrator at
    <a href="mailto:admin@<%=data.address%>">admin@<%=data.address%></a>.
  </p>
  <p>
    Alternatively, you can contact us via Telegram:
    <a href="https://t.me/<%=data.telegram%>">Telegram Link</a> or
    WhatsApp: <a href="https://wa.me/<%=data.phone%>">WhatsApp Link</a>.
  </p>
  <p>
    We appreciate your understanding and cooperation in resolving this issue.
  </p>
</div>
